.icon-container {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border: none !important;
}

.icon-container::before {
    content: '';
    position: absolute;
    top: 50;
    left: 50;
    width: 150%;
    height: 150%;
    border: 1px dashed var(--primary-color);
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotateBorder 10s linear infinite;
}

/* Keyframe for rotation */

.card-icon {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    margin: 0 0 10px;
}

.card-description {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 16px;
}

.read-more-button {
    align-self: flex-start;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 20px;
    font-weight: 500;
    color: #353535;
    background-color: #f0f7fcc5;;
    border: 1px solid #e3e9fd !important;
}
.read-more-button:hover {
    background-color: rgba(0, 0, 0, 0.087);
    
 }

 @keyframes rotateBorder {
     0% {
         transform: rotate(0deg);
     }
 
     100% {
         transform: rotate(360deg);
     }
 }
@media (max-width: 768px) {
.card1 {
    justify-self: center;
}
}