.aboutBrandheader {
    font-size: 12px;
    position: relative;
}

.aboutBrandheader::after,
.aboutBrandheader::before {
    content: "";
        width: 285%;
        height: 0.1rem;
        position: absolute;
        background-color: lightgray;
}

.aboutBrandheader::after {
    top: 50%;
        left: 0;
        transform: translateX(-110%); }

.aboutBrandheader::before {
    top: 50%;
        right: 0;
        transform: translateX(110%);
}
@media (max-width: 768px) {

    .aboutBrandheader::after,
    .aboutBrandheader::before {
        display: none;
    }
}